html
{
    scroll-behavior: smooth;
}

body
{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

a
{
    text-decoration: none;
    color: #fff;
}

/* SCROLL TO UP */

.scroll-up
{
    position: fixed;
    right: 2em;
    bottom: 2em;
    z-index: 4;
    width: 3em;
    height: 3em;
    background-color: #000;
    border-radius: 0.3em;
    border: 0.15em solid #009900;
    opacity: 0.2;
    transition: all 0.2s ease-out;
    display: none;
    align-items: center;
    justify-content: center;
}

.scroll-up:hover
{
    opacity: 1;
    background-color: #fff;
    transition: all 0.2s ease-out;
}

.scroll-up a
{
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* END SCROLL TO UP */

.login-section
{
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
}

.login-section-form
{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 30em;
    height: 30em;
    justify-self: center;
    align-self: center;
    border: 2px solid #009900;
    border-radius: 0.2em;
    display: flex;
}

.login-section-form form
{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.login-section-form form p
{
    font-size: 1.5em;
    margin: 1em 0;
}

input[type=text],
input[type=password]
{
    width: 80%;
    height: 3em;
    border: 1px solid #009900;
    border-radius: 0.5em;
    box-sizing: border-box;
    padding-left: 1em;
}

input[type=submit]
{
    width: 80%;
    height: 3em;
    border-radius: 0.5em;
    background-image: linear-gradient(#00B300, #009900);
    border: none;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 2em;
}

.return-to-main
{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: start;
    align-self: end;
    margin: 2em 2em;
}

.return-to-main a
{
    display: inline-block;
    color: #000;
}

.return-to-main a p
{
    margin: 0;
    display: inline-block;
}

@media all and (max-width: 768px)
{
    .login-section-form
    {
        width: 80vw;
        height: 60vh;
    }

    .return-to-main
    {
        justify-self: center;
    }
}

/* Admin Panel */

.admin-panel-top-bar
{
    display: flex;
    width: 100%;
    background-image: linear-gradient(#00cc00, #00b300);
    height: 4em;
    align-items: center;
    box-shadow: 0 0 1em gray;
}

.admin-panel-top-bar p
{
    width: 50%;
    justify-content: flex-start;
    margin: 0 2em;
}

.admin-panel-top-bar a
{
    width: 50%;
    text-align: end;
    margin: 0 2em;
}

.admin-panel-top-bar a:hover
{
    text-decoration: underline;
}

.admin-panel-wrapper
{
    display: flex;
}

.admin-panel-left-bar
{
    width: 17em;
    height: calc(100vh - 4em);
    background-image: linear-gradient(#00B300, #009900);
    display: flex;
    border-top: 1px solid #fff;
}

.admin-panel-left-bar ul
{
    list-style-type: none;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.admin-panel-left-bar ul li
{
    height: 3.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-panel-left-bar ul li a
{
    padding-left: 1em;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-panel-left-bar ul li a:hover
{
    background-color: #fff;
    color: #000;
}

.admin-panel-left-bar ul li a i
{
    padding-right: 0.5em;
}

.admin-panel-content
{
    width: 100%;
    text-align: center;
    align-self: center;
}

@media all and (max-width: 768px)
{
    .admin-panel-wrapper
    {
        flex-direction: column;
    }

    .admin-panel-left-bar
    {
        height: 10em;
        width: 100%;
    }
}

/* Password section */

.admin-panel-password-checked
{
    background-color: #fff;
    color: #000;
}

.admin-panel-password-content
{
    width: 30%;
    text-align: center;
}

.admin-panel-password-content h4
{
    margin-top: 4em;
    margin-bottom: 3em;
    font-size: 1.5em;
}

.admin-panel-password-content form
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.admin-panel-password-content form input[type=password]
{
    margin: 1em 0;
}

.admin-panel-password-content form input[type=submit]
{
    margin: 3em 0;
}

@media all and (max-width: 768px)
{
    .admin-panel-password-content
    {
        width: 100%;
    }
}

/* Users Edit Section */

.admin-panel-list-users-content
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.response-from-controller
{
    color: red;
    width: 100%;
    text-align: center;
    margin: 5em 0;
    font-size: 1.3em;
}

.user-box
{
    margin: 4em;
    border: 1px solid #009900;
    border-radius: 0.15em;
    width: 25em;
    height: 40em;
    text-align: center;
}

.user-box-div-img
{
    height: 20%;
}

.user-box div img
{
    height: 100%;
}

.user-box-content
{
    height: 80%;
}

.user-box-content div
{
    width: 100%;
    display: flex;
}

.user-box-content div p
{
    width: 50%;
}

.user-box-content form button
{
    background-color: #cc0000;
    width: 80%;
    height: 3em;
    border-radius: 0.5em;
    border: none;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    margin: 2em 0;
}

.user-box-content form button:hover
{
    background-color: #e60000;
    cursor: pointer;
}

.line
{
    border-top: 1px solid #009900;
    border-bottom: 1px solid #009900;
}

.line-top
{
    border-top: 1px solid #009900;
}

.font-style
{
    font-weight: bold;
}

@media all and (max-width: 768px)
{
    .admin-panel-list-users-content
    {
        justify-content: center;
    }
}

.no-valid
{
    border: 1px solid red;
    border-radius: 0.3em;
    box-shadow: 0 0 0.5em red;
    outline: none;
}