body
{
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    margin: 0;
}

a
{
    text-decoration: none;
    color: #fff;
}

.container
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*grid-template-rows: repeat(3, 1fr);*/
}

.container-background
{
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    filter: brightness(50%);
}

.container-background-register
{
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.logo-style
{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: 1;
    justify-self: self-start;
    align-self: center;
    margin-left: 5em;
}

.logo-style-register
{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    z-index: 1;
    justify-self: self-start;
    margin: 5em 5em;
}

.form-style
{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    z-index: 1;
    width: 30em;
    height: 30em;
    background-color: #fff;
    border-radius: 0.3em;
}

.form-style-register
{
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    justify-self: center;
    align-self: center;
    z-index: 1;
    width: 30em;
    height: 40em;
    background-color: #fff;
    border-radius: 0.3em;
}

form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

form p
{
    color: #009900;
    font-size: 2em;
    /*margin: 2em auto;
    align-items: flex-start;*/
}

input[type=text],
input[type=password]
{
    width: 80%;
    height: 3em;
    border: 1px solid #009900;
    border-radius: 0.5em;
    box-sizing: border-box;
}

label
{
    display: flex;
    align-items: center;
    width: 80%;
}

input[type=checkbox]
{
    margin: 0;
}

.checkboxLabel
{
    color: #000;
    font-size: 0.8em;
    margin-left: 0.5em;
}

input[type=submit]
{
    width: 80%;
    height: 3em;
    border-radius: 0.5em;
    background-image: linear-gradient(#00B300, #009900);
    border: none;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 2em;
}

.form-style-headers
{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.registerLink
{
    color: #009900;
    margin-bottom: 1em;
}

.icon-return
{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    align-self: center;
    z-index: 1;
    font-size: 1.5em;
    margin-left: 1em;
}

.icon-return a
{
    display: inline-block;
}

.icon-return a p
{
    margin: 0;
    display: inline-block;
}

.icon-return-register
{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    align-self: flex-end;
    z-index: 1;
    font-size: 1.5em;
    margin: 2em 1em;
}

.icon-return-register a
{
    display: inline-block;
}

.icon-return-register a p
{
    margin: 0;
    display: inline-block;
}

@media all and (max-width: 1024px)
{
    .logo-style
    {
        grid-column: 1 / 3;
        justify-self: center;
        margin-left: 0;
    }

    .logo-style-register
    {
        grid-column: 1 / 3;
        justify-self: center;
        margin-left: 0;
    }

    .logo-style-register
    {
        margin: 2em 0;
    }

    .form-style
    {
        grid-column: 1 / 3;
        width: 60vw;
        height: 60vh;
    }

    .form-style-register
    {
        grid-column: 1 / 3;
        width: 70vw;
        height: 70vh;
    }

    .icon-return
    {
        grid-column: 1 / 3;
        justify-self: center;
        margin: 0;
    }

    .icon-return-register
    {
        grid-column: 1 / 3;
        justify-self: center;
        margin: 0;
    }

    .icon-return a p
    {
        font-size: 0.9em;
    }

    .icon-return-register a p
    {
        font-size: 0.9em;
        margin-bottom: 1em;
    }
}

.no-valid
{
    border: 1px solid red;
    border-radius: 0.3em;
    box-shadow: 0 0 0.5em red;
    outline: none;
}