html
{
    scroll-behavior: smooth;
}

body
{
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    margin: 0;
}

a
{
    text-decoration: none;
    color: #fff;
}

.main-header-wrapper
{
    display: grid;
    grid-template-columns: repeat(36, 1fr);
    /*grid-template-rows: repeat(5, 1fr);*/
    background-color: grey;
}

.bg-photo-gate
{
    display: block;
    grid-column: 1 / 37;
    grid-row: 1 / 2;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(50%);
}

.main-nav
{
    z-index: 1;
    grid-row: 1 / 2;
    grid-column: 1 / 37;
}

.main-menu
{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    letter-spacing: 0.1em;
    padding-left: 0;
}

.main-menu li
{
    font-weight: 700;
    font-size: 1.2em;
    width: 8em;
    height: 2.5em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1em;
}

.main-menu li:last-child
{
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 1.4em;
}

.main-menu li ul
{
    padding: 0;
    margin: 0;
    font-size: 0.9em;
    display: none;
}

.main-menu li:hover ul
{
    display: block;
    z-index: 2;
}

header a
{
    transition: all 0.2s ease-out;
}

.main-menu li a:hover
{
    color: #aaa;
    transition: all 0.2s ease-out;
}

.navbar-mobile
{
    display: none;
}

.bar
{
    display: block;
    width: 35px;
    height: 3px;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

#menu-mobile-logout
{
    display: none;
}

/*spróbowac to zrobić nie na position tylko wpleść to do grida*/
@media only screen and (max-width: 768px)
{
    .main-menu
    {
        position: fixed;
        left: -100%;
        top: 10%;
        flex-direction: column;
        backdrop-filter: blur(0.25em);
        width: 100%;
        border-radius: 0.2em;
        text-align: center;
        transition: 0.3s;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        z-index: 2;
    }

    .main-menu.active
    {
        left: 0;
    }

    .navbar-mobile
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        z-index: 1;
        backdrop-filter: blur(0.25em);
        border-bottom: 1px solid #fff;
        border-radius: 0.2em;
        height: 10vh;
        width: 100%;
    }

    .hamburger
    {
        z-index: 1;
        cursor: pointer;
        align-self: center;
        margin-left: 5%;
    }

    .navbar-mobile-book
    {
        align-self: center;
        font-size: 1.5em;
    }

    .navbar-mobile-icon-user
    {
        font-size: 1.7em;
        margin-right: 3vw;
    }

    .main-menu li:last-child
    {
        display: none;
    }

    .hamburger.active .bar:nth-child(2)
    {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1)
    {
        -webkit-transform: translateY(13px) rotate(45deg);
        transform: translateY(13px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3)
    {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

    #menu-mobile-logout
    {
        display: flex;
    }
}


.logo-container
{
    z-index: 0;
    grid-column: 1 / 37;
    grid-row: 1 / 2;
    text-align: center;
    align-self: center;
    justify-self: center;
    padding: 0;
}

.logo-text-first-line
{
    font-weight: 700;
    font-size: 300%;
    margin: 0.5em 0;
}

.logo-text-second-line
{
    font-size: 2em;
}

.style-icon-down
{
    grid-column: 1 / 37;
    grid-row: 1 / 2;
    z-index: 1;
    align-self: end;
    justify-self: center;
    margin-bottom: 1em;
}

.scroll-up
{
    position: fixed;
    right: 2em;
    bottom: 2em;
    z-index: 4;
    width: 3em;
    height: 3em;
    background-color: #000;
    border-radius: 0.3em;
    border: 0.15em solid #009900;
    opacity: 0.2;
    transition: all 0.2s ease-out;
    display: none;
    align-items: center;
    justify-content: center;
}

.scroll-up:hover
{
    opacity: 1;
    background-color: #fff;
    transition: all 0.2s ease-out;
}

.scroll-up a
{
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*------ Page 2 ------*/

.container-about-hause
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.img-about-hause
{
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.wrapper-about-hause
{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-about-hause
{
    grid-column: 2 / 3;
    display: flex;
    height: 10vh;
    background-image: linear-gradient(#00B300, #009900);
    align-items: center;
    font-weight: normal;
    padding-left: 1.5em;
    font-size: 1.8em;
}

.text-about-hause
{
    color: #000;
    font-size: 1.2em;
    padding: 0 2.1em;
    text-align: justify;
}

@media all and (max-width: 768px)
{
    .img-about-hause
    {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        margin-top: 3em;
        width: 100%;
        height: 50vh;
    }

    .wrapper-about-hause
    {
        grid-column: 1 / 3;
        row-gap: 3em;
    }

    .header-about-hause
    {
        justify-content: center;
        padding: 0;
        margin-bottom: 0;
    }
}

/*------ Page 3 ------*/

.container-offer
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100vh;
    color: black;
}

.header-offer
{
    color: #009900;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    align-self: end;
    font-size: 1.8em;
    padding: 0 5vw;
}

.text-offer
{
    color: #000;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    align-self: center;
    font-size: 1.2em;
    padding: 0 5vw;
}

.wrapper-offer-overline-green
{
    width: 96%;
    height: calc(100% - 2vw);
    margin-top: 2vw;
    border-left: 3px solid #009900;
    border-top: 3px solid #009900;
    border-right: 3px solid #009900;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    place-self: end center;
    z-index: 1;
}

.wrapper-offer-images
{
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    align-self: end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
}

.img-offer-home
{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    z-index: 2;
}

.img-offer-flowers
{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 100%;
    z-index: 2;
}

.img-offer-crucifix
{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    width: 100%;
    z-index: 2;
}

.wrapper-offer-overline-white
{
    width: 96%;
    height: calc(100% - 1.5vw);
    margin-bottom: 1.5vw;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    place-self: end center;
    z-index: 3;
}

@media all and (max-width: 768px)
{
    .text-offer
    {
        padding-bottom: 1em;
    }

    .img-offer-home
    {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
        margin-bottom: 1em;
    }

    .img-offer-flowers
    {
        grid-column: 1 / 4;
        grid-row: 4 / 5;
        margin-bottom: 1em;
    }

    .img-offer-crucifix
    {
        grid-column: 1 / 4;
        grid-row: 5 / 6;
    }

    .wrapper-offer-overline-white
    {
        grid-column: 1 / 4;
        grid-row: 1 / 6;
        height: calc(100% - 1.8vw);
    }
}

/* book section */

.main-nav-book
{
    background-image: linear-gradient(#00B300, #009900);
}

.user-options-book
{
    margin-top: 1.4em !important;
    border-radius: 0.2em;
}

.article-book
{
    color: #000;
}

.article-book h1
{
    margin: 4em 0;
    text-align: center;
    font-size: 2em;
    font-weight: normal;
}

.book-form-container
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.book-form-container label
{
    grid-column: 1 / 3;
    border: 0.15em solid #009900;
    border-radius: 0.3em;
    width: 70%;
    justify-self: center;
    display: flex;
    margin: 0.5em 0;
    justify-content: space-between;
    align-items: center;
}

.book-form-container label:hover
{
    cursor: pointer;
}

.book-form-container label div
{
    width: 60%;
    justify-self: center;
    margin: 1em 0;
}

.book-form-container label div p
{
    margin-bottom: 0;
    margin-top: 2em;
}

.book-form-container label div h3
{
    color: #009900;
    font-size: 1.5em;
    margin-top: 0;
    font-weight: normal;
}

.book-form-container label img
{
    width: 30%;
    border-bottom-right-radius: 0.2em;
    border-top-right-radius: 0.2em;
}

.second-part-of-form
{
    grid-column: 1 / 2;
    width: 70%;
    justify-self: end;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    margin-top: 2em;
}

input[type=submit]
{
    font-size: 1em;
    height: 3em;
    border-radius: 0.5em;
    background-image: linear-gradient(#00B300, #009900);
    border: none;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    margin-top: 1em;
    margin-bottom: 5em;
}

input[type=text], input[type=date]
{
    font-family: 'Quicksand', sans-serif;
    height: 3em;
    border: 0.15em solid #009900;
    border-radius: 0.2em;
    box-sizing: border-box;
}

textarea
{
    font-family: 'Quicksand', sans-serif;
    border: 0.15em solid #009900;
    border-radius: 0.2em;
    box-sizing: border-box;
}

.second-part-of-form p
{
    font-size: 1.2em;
}

footer
{
    background-image: linear-gradient(#00B300, #009900);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 1em;
    min-height: 5em;
}

footer p
{
    grid-column: 1 / 2;
    align-self: center;
    margin-left: 2em;
}

footer ul
{
    grid-column: 2 / 3;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

footer ul li
{
    margin: 0 2em;
}

footer ul li a:hover
{
    text-decoration: underline;
}

@media only screen and (max-width: 768px)
{
    .main-menu-book
    {
        background-image: linear-gradient(#00B300, #009900);
    }

    .article-book h1
    {
        margin: 2.5em 0;
    }

    .book-form-container label
    {
        flex-direction: column;
    }

    .book-form-container label input[type=checkbox]
    {
        margin: 2em 0;
    }

    .book-form-container label div p
    {
        margin-bottom: 1em;
    }

    .book-form-container label img
    {
        width: 100%;
        border-bottom-left-radius: 0.2em;
        border-top-right-radius: 0;
    }

    .second-part-of-form, footer p, footer ul
    {
        grid-column: 1 / 3;
        justify-self: center;
    }

    footer p, footer ul li
    {
        margin-left: 0;
    }
}

/*confirmation section*/

.article-confirmation
{
    color: #000;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.article-confirmation h1
{
    font-weight: normal;
    font-size: 2em;
    margin: 4em 0;
}

.article-confirmation div
{
    box-shadow: 0 0 1em gray;
    padding: 4em;
}

.article-confirmation div h2
{
    font-weight: normal;
    margin: 1em 0;
}

.article-confirmation div h3
{
    color: #009900;
}

.underline
{
    text-decoration: underline;
    font-weight: bold;
}

/* profile section */

.main-menu-profile
{
    margin-bottom: 0;
    box-shadow: 0 0 1em #b3b3b3;
}

.article-profile
{
    color: #000;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.left-bar
{
    grid-column: 1 / 2;
    border-right: 1px solid #e6e6e6;
    min-height: 50em;
}

.left-bar ul
{
    display: flex;
    flex-direction: column;
    padding-left: 2em;
}

.left-bar ul li
{
    border-bottom: 1px solid #e6e6e6;
    list-style-type: none;
    height: 4em;
    width: 100%;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #c4c4c4;
}

.left-bar ul li i
{
    padding-right: 0.5em;
}

.left-bar ul li a
{
    color: #c4c4c4;
    display: flex;
    height: 4em;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.left-bar ul li a:hover
{
    color: #fff;
}

.left-bar ul li:hover
{
    cursor: pointer;
    border-radius: 0.15em;
    background-image: linear-gradient(#00B300, #009900);
    color: #fff;
}

.right-bar
{
    grid-column: 2 / 6;
}

.right-bar-container
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}

.right-bar-container h4
{
    font-size: 1.5em;
    color: #009900;
    font-weight: normal;
}

.edit-form label input
{
    width: 25em;
    margin-bottom: 1em;
    padding-left: 1em;
    margin-top: 0.5em;
    box-sizing: border-box;
}
.edit-form input[type=password]
{
    height: 3em;
    border: 0.15em solid #009900;
    border-radius: 0.2em;
    box-sizing: border-box;
}

.edit-form input[type=submit]
{
    width: 6em;
}

#handler-photo
{
    width: 4em;
}

.margin-template
{
    margin: 2em 0;
    font-size: 1.2em;
    color: #009900;
}

.results-templates
{
    text-indent: 20px;
    font-size: 1.2em;
}

@media only screen and (max-width: 768px)
{
    .left-bar
    {
        grid-column: 1 / 6;
        min-height: 0;
    }

    .right-bar
    {
        grid-column: 1 / 6;
    }

    .right-bar-container
    {
        margin-left: auto;
        margin-right: auto;
    }

    .left-bar ul
    {
        padding-left: 0;
    }

    .right-bar-container
    {
        text-align: center;
    }
}

table, td, th
{
    border: 1px solid black;
    padding: 0.5em 1.5em;
    text-align: center;
}

table
{
    border-collapse: collapse;
}

.profile-footer
{
    margin-top: 5em;
}

.form-profile-picture label input
{
    display: none;
}

.form-profile-picture label img
{
    width: 10em;
}

.form-profile-picture label img:hover
{
    cursor: pointer;
}

.echo-hover:hover
{
    cursor: pointer;
    color: #009900;
}

.btn-photo-style
{
    background-image: linear-gradient(#00B300, #009900);
}

.form-profile-password
{
    padding: 2em 0;
}

.form-profile-password input[type=password]
{
    margin: 1em 0;
    padding-left: 1em;
    width: 20em;
}

.form-profile-password input[type=submit]
{
    margin-top: 4em;
}

.no-valid
{
    border: 1px solid red;
    border-radius: 0.3em;
    box-shadow: 0 0 0.5em red;
    outline: none;
}